.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Layout for sidebar */
.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
  margin-left: 200px;
  /* تم تغييرها من 250px إلى 200px */
  min-height: 100vh;
  background-color: #f8f9fa;
}

.p-4 {
  padding: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .flex-grow-1 {
    margin-left: 0;
  }
}